# Primary build folders
build/
build_debug/
build_release/
build_artifacts*

# Yes, everyone loves keeping this file in the history.
# But with a very minimalistic binding and just a couple of dependencies 
# it brings 7000 lines of text polluting the entire repo.
package-lock.json

# Temporary files
.DS_Store
.swiftpm/
.build/
tmp/
target/
__pycache__
.pytest_cache
.conda
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
*.so
*.egg-info
*.whl
*.pyd
.venv/*
node_modules/
.vs/

# Recommended datasets
leipzig1M.txt
enwik9.txt
xlsum.csv
