# Primary build folders
build/
build_debug/
build_release/

# Temporary files
.DS_Store
.swiftpm/
tmp/
target/
__pycache__
.pytest_cache
.conda
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
*.so
*.egg-info
*.whl
*.pyd
.venv/*
node_modules/

# Recommended datasets
leipzig1M.txt
enwik9.txt
xlsum.csv
