build/
build_debug/
.DS_Store
.build/
.swiftpm/
tmp/
build_debug/
build_release/
__pycache__
.pytest_cache
.conda
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
CMakeLists.txt~
substr_search_cpp
*.so
*.egg-info
*.whl
*.pyd
.venv/*
node_modules/

# Recommended datasets
leipzig1M.txt
enwik9.txt
xlsum.csv
enwik9
