python/
scripts/
.github/
.vscode/
.releaserc
CMakeLists.txt
pyproject.toml
setup.py
stringzilla.jpeg
.clang-format
.gitignore

# Copied from .gitignore

build/
.DS_Store
tmp/
build_debug/
build_release/
__pycache__
.pytest_cache
.conda
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
CMakeLists.txt~
substr_search_cpp
*.so
*.egg-info
*.whl
*.pyd
node_modules/

leipzig1M.txt