[package]
name = "stringzilla"
version = "3.0.0"
authors = ["Ash Vardanian <1983160+ashvardanian@users.noreply.github.com>"]
description = "Faster SIMD-accelerated string search, sorting, fingerprints, and edit distances"
edition = "2021"
license = "Apache-2.0"
publish = true
repository = "https://github.com/ashvardanian/stringzilla"

[lib]
name = "stringzilla"
path = "rust/lib.rs"

[build-dependencies]
cc = "1.0"
