include README.md
include VERSION
include LICENSE
include build_backend.py
include setup.py
include SZ_TARGET.env

graft include
graft fork_union/include
graft c
graft python

include test/stringzilla.py
include test/stringzillas.py
include bench/*.py
