# This file lists the optional development dependencies 
# for StringZilla benchmarks in the `scripts/` directory.
fire
arrow
pandas
tabulate

# For stress testing & benchmarking:
pytest
pytest-repeat
pytest-benchmark
ipykernel # for Jupyter notebooks

# For hashing:
xxhash # https://github.com/ifduyue/python-xxhash, https://github.com/Cyan4973/xxHash 
murmurhash # https://github.com/explosion/murmurhash, https://github.com/aappleby/smhasher

# For Levenshtein distances:
rapidfuzz  # https://github.com/rapidfuzz/RapidFuzz
python-Levenshtein  # https://github.com/maxbachmann/python-Levenshtein
levenshtein # https://github.com/maxbachmann/Levenshtein
jellyfish # https://github.com/jamesturk/jellyfish/
editdistance # https://github.com/roy-ht/editdistance
distance # https://github.com/doukremt/distance
polyleven # https://github.com/fujimotos/polyleven
edlib # https://github.com/Martinsos/edlib
nltk # https://github.com/nltk/nltk

# For Needleman-Wunsch and Smith-Waterman algorithms with custom scoring matrices:
biopython # https://github.com/biopython/biopython

# Unicode processing:
wcwidth # https://github.com/jquast/wcwidth
